body 
{
    background-image:url("985970cddd05b00.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Arial;
}

h1 
{
  color: gold;
  text-align: center;
}
#refreshButton
{
	height: 50px;
	width: 120px;
}
#onoffled
{
	height: 50px;
	width: 120px;
}
#curtainsup
{
	height: 50px;
	width: 120px;
}
#curtainsdown
{
	height: 50px;
	width: 120px;
}
#curtainsstop
{
	height: 50px;
	width: 120px;
}
#disconnectButton
{
	height: 50px;
	width: 120px;
}
b
{
	color: gold;
}
div
{
	color: gold;
}